<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Ajouter une phase à la tâche suivante :</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="editForm">
                    <!--<div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Titre de la tâche sélectionnée</label>
                                <input type="text" class="form-control" [(ngModel)]="phase.tache_fk"
                                    formControlName="tache_fk" disabled>
                            </div>
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" [(ngModel)]="phase.nom" formControlName="nom"
                                    placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Date de début</label>
                                <input type="date" class="form-control" [(ngModel)]="phase.dateDebut"
                                    formControlName="dateDebut" placeholder="Date de début">
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Date de fin</label>
                                <input type="date" class="form-control" [(ngModel)]="phase.dateFin"
                                    formControlName="dateFin" placeholder="Date de fin">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round"
                                (click)="updatePhase()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>