<!-- Formulaire d'ajout début-->
<div class="container-fluid mt--7" style="background-color: white;">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h3 style="color: chocolate;"><b>Ajout d'un utilisateur</b></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveUtilisateur()">
                    <h4 class="heading-small text-muted mb-4"><b>Informations des utilisateurs</b>
                    </h4>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" style="border: 5px; border-color: chocolate;">
                                    <label class="form-control-label" for="input-first-name"
                                        style=" color: black;">Nom</label>
                                    <input type="text" [(ngModel)]="utilisateur.nomUtilisateur" name="nomUtilisateur"
                                        id="input-first-name" class="form-control form-control-alternative"
                                        placeholder="Nom " value="Lucky">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label" for="input-last-name"
                                        style=" color: black;">Prénom</label> <input type="text"
                                        [(ngModel)]="utilisateur.prenomUtilisateur" name="prenomUtilisateur"
                                        id="input-last-name" class="form-control form-control-alternative"
                                        placeholder="Prénom" value="Luck"> </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-email"
                                    style=" color: black;">Email
                                    address</label> <input type="email" [(ngModel)]="utilisateur.emailUtilisateur"
                                    name="emailUtilisateur" id="input-email"
                                    class="form-control form-control-alternative" placeholder="ex : jean.yves@oui.com">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-username"
                                    style=" color: black;">Nom d'utilisateur</label> <input type="text"
                                    [(ngModel)]="utilisateur.username" name="username" id="input-username"
                                    class="form-control form-control-alternative" placeholder="Nom d'utilisateur"
                                    value="Username"> </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-password"
                                    style=" color: black;">Mot de passe</label> <input type="text"
                                    [(ngModel)]="utilisateur.password" name="password" id="input-password"
                                    class="form-control form-control-alternative" placeholder="mot de passe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-password"
                                    style=" color: black;">Role</label>
                                <select class="form-control form-control-alternative" multiple name="roles"
                                    [(ngModel)]="utilisateur.roles">
                                    <option *ngFor="let r of roles" [ngValue]="r">{{r.libelle}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div> <button class="btn btn-danger" style="background-color: chocolate;">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>