<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Ajouter un utilisateur</h5>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveUtilisateur()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" style="border: 5px; border-color: chocolate;">
                                <label class="form-control-label" for="input-first-name"
                                    style=" color: black;">Nom</label>
                                <input type="text" [(ngModel)]="utilisateur.nomUtilisateur" name="nomUtilisateur"
                                    id="input-first-name" class="form-control form-control-alternative"
                                    placeholder="Nom " value="Lucky">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-last-name"
                                    style=" color: black;">Prénom</label> <input type="text"
                                    [(ngModel)]="utilisateur.prenomUtilisateur" name="prenomUtilisateur"
                                    id="input-last-name" class="form-control form-control-alternative"
                                    placeholder="Prénom" value="Luck"> </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-username"
                                    style=" color: black;">Nom d'utilisateur</label> <input type="text"
                                    [(ngModel)]="utilisateur.username" name="username" id="input-username"
                                    class="form-control form-control-alternative" placeholder="Nom d'utilisateur"
                                    value="Username"> </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-password"
                                    style=" color: black;">Mot de passe</label> <input type="text"
                                    [(ngModel)]="utilisateur.password" name="password" id="input-password"
                                    class="form-control form-control-alternative" placeholder="mot de passe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-email"
                                    style=" color: black;">Email
                                    address</label> <input type="email" [(ngModel)]="utilisateur.emailUtilisateur"
                                    name="emailUtilisateur" id="input-email"
                                    class="form-control form-control-alternative" placeholder="ex : jean.yves@oui.com">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label class="form-control-label" for="input-password"
                                    style=" color: black;">Role</label>
                                <select class="form-control form-control-alternative" multiple name="roles"
                                    [(ngModel)]="utilisateur.roles">
                                    <option *ngFor="let r of roles" [ngValue]="r">{{r.libelle}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div> <button type="submit" class="btn btn-primary btn-round">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Formulaire d'ajout fin-->
<!-- Afficher les données début-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Liste des utilisateurs</h4>
            </div>
            <div class="card-body">
                <!--Recherche-->
                <form (ngSubmit)="onSubmit()">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="nomUtilisateur"
                                    name="nomUtilisateur" placeholder="Nom de la personne">
                            </div>
                            <div style=" margin-bottom: px; margin-left: 10px;">
                                <button type="submit" class="btn btn-primary btn-round">Recherche</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--Fin Recherche-->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead style="background-color: white;">
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Nom d'utilisateur</th>
                                <!--<th>Mot de passe (crypté)</th>-->
                                <th>Role</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of nomUtilisateurRecherche">
                                <td>{{u.nomUtilisateur}}</td>
                                <td>{{u.prenomUtilisateur}}</td>
                                <td>{{u.username}}</td>
                                <!--<td>{{u.password}}</td>-->
                                <td>
                                    <p style="margin: 0px;" *ngFor="let r of u.roles">{{r.libelle}}</p>
                                </td>
                                <td> <button (click)="deleteUtilisateur(u.idUtilisateur)" type="submit"
                                        class="btn btn-primary btn-round">Supprimer</button>
                                    <button (click)="editUtilisateur(u)" type="submit"
                                        class="btn btn-primary btn-round">Editer</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Afficher les données fin-->