<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://localhost:4200/#/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="https://cdn-icons-png.flaticon.com/512/6974/6974016.png">
      </div>
    </a>
    <a href="http://localhost:4200/#/" class="simple-text logo-normal">
      Gestion CADJ
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>