<div class="row">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Désauthentification</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" (click)="logout()">Se déconnecter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>