<!--Carte-->
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <a href="#Future"> <!--Lien vers la section liste affaires à venir-->
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-send text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Affaires à venir</p>
                <p class="card-title">{{affairesFutureCount}}
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <a href="#Current"> <!--Lien vers la section liste affaires en cours-->
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-refresh-69 text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Affaires en cours</p>
                <p class="card-title">{{affairesCurrentCount}}
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <a href="#Archive" id="lienArchive"> <!--Lien vers la section liste affaires archivée-->
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-box text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Affaires archivée</p>
                <p class="card-title">{{affairesFinishCount}}
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <a href="#affaires"> <!--Lien vers la page affaire-->
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-single-copy-04 text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Total affaires</p>
                <p class="card-title">{{affairesAllCount}}
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


</div>
<!--Affichage tableau A VENIR-->
<div class="row" id="Future">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><i class="nc-icon nc-send text-primary"></i> Liste des affaires à venir</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Référence</th>
              <th>Titre</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let a of affairesFuture">
                <td>{{a.reference}}</td>
                <td>{{a.titre}}</td>
                <td>{{a.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Affichage tableau EN COURS-->
<div class="row" id="Current">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><i class="nc-icon nc-refresh-69 text-warning"></i> Liste des affaires en cours</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-warning">
              <th>Référence</th>
              <th>Titre</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let a of affairesCurrent">
                <td>{{a.reference}}</td>
                <td>{{a.titre}}</td>
                <td>{{a.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Affichage tableau ARCHIVE-->
<div>
  <div class="row" id="Archive">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><i class="nc-icon nc-box text-success"></i> Liste des affaires archivées</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-success">
                <th>Référence</th>
                <th>Titre</th>
                <th>Description</th>
              </thead>
              <tbody>
                <tr *ngFor="let a of affairesFinish">
                  <td>{{a.reference}}</td>
                  <td>{{a.titre}}</td>
                  <td>{{a.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>